

<div class="container">
    <div class="row">

        <div class="col-md-12">

            <h1> <%= judul %> </h1>


            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Kontak</th>
                    <th scope="col">Aksi</th>
                  </tr>
                </thead>
                <tbody>  

                  <% list_contact.forEach((contact , i) => { %>
                  <tr>
                    <th scope="row"><%= i + 1 %></th>
                    <td> <%= contact.nama %> </td>
                    <td> <%= contact.hp %> </td>
                    <td>
                        <a class="btn btn-success btn-sm rounded-pill" href="/kontak/<%= contact.nama  %>">
                            <i class="bi bi-eye-fill mr-1"></i>
                            Detail
                        </a>
                    </td>
                  </tr>

                  <% }); %>


                </tbody>
              </table>

        </div>
    </div>
</div>
